# floder
# ===================
/Scripts
/Lib
/Include
/share
/Library
.vscode/

# LLM
# ===================
*.gguf

# files
# ===================
pyvenv.cfg
*.pyc
*.pdf

# testing file
# ===================
test.*
*.log
